/* .bx_inht .box{
    width: 48%;
        margin-left: 15px;

} */

.usr_stle{
    width: 95%;
    margin: 0 auto;
}

.usr_stle .sereg{
    float: left;
    width:48%;
    vertical-align: top;
    padding: 15px;
    margin: 5px;
    margin-bottom: 25px;
}
.form-control input {
    margin-top: -10px !important;
}

.table.table-striped.table-bordered td span.label{
    min-width: 50px;
    display: inline-block;
    padding: 5px 0px;
    border-radius: 15px;
}

.usr_stle .add-pic ul li{
    list-style-type: none;
    float: left;
    margin-left: 20px;
    width: 25%;
    position: relative;
    margin-bottom: 10px;
}
.usr_stle .add-pic img{
    width:100%;
}
.usr_stle .add-pic span{
    position: absolute;
    top: 2px;
    right: 2px;
    background: red;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 14px;
    color: #fff;
    border-radius: 50px;
}
.usr_stle .success-msg{
    border: 1px solid #ccc;
    position: relative;
    width: 78%;
    border-left: 4px solid green;
}
.usr_stle .success-msg p{
    margin: 0px;
    padding: 5px;
}
.usr_stle .success-msg span{ 
    position: absolute;
    top: 8px;
    right: 2px;
    background: #888;
    width: 15px;
    height: 15px;
    text-align: center;  
    line-height: 14px;
    color: #fff;
    border-radius: 50px;
}

.pointer {cursor: pointer;}


